networks:
  laravel:
  monitoring:
    driver: bridge

services:

  app:
    build:
      context: ./.docker
      dockerfile: nginx.dockerfile
    volumes:
      - .:/var/www/html:delegated
    ports:
      - "${APP_PORT:-80}:80"
    environment:
      - APP_ENV=${APP_ENV:-local}
    networks:
      - laravel
    depends_on:
      - redis
      - postgres
      - cassandra
      - elasticsearch
      - php-fpm
    restart: always

  php-fpm:
    build:
      context: ./.docker
      dockerfile: app.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
        - APP_ENV=${APP_ENV}
    expose:
      - "9000"
    volumes:
      - .:/var/www/html:delegated
    networks:
      - laravel
    restart: always
    deploy:
      replicas: 2

  artisan:
    build:
      context: ./.docker
      dockerfile: app.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - .:/var/www/html:delegated
    entrypoint: [ 'php', '/var/www/html/artisan' ]
    networks:
      - laravel
 
  postgres:
    image: postgres:15-alpine
    restart: always
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: "${DB_DATABASE:-laravel}"
      POSTGRES_USER: "${DB_USERNAME:-laravel}"
      POSTGRES_PASSWORD: "${DB_PASSWORD:-secret}"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - laravel

  cassandra:
    image: cassandra:latest
    ports:
      - "${CASSANDRA_PORT:-9042}:9042"
    volumes:
      - ./data/cassandra:/var/lib/cassandra
      - ./database/cassandra/init.cql:/docker-entrypoint-initdb.d/init.cql
    environment:
      - CASSANDRA_AUTHENTICATOR=AllowAllAuthenticator
      - CASSANDRA_AUTHORIZER=AllowAllAuthorizer
      - CASSANDRA_ROLE_MANAGER=org.apache.cassandra.auth.AllowAllRoleManager
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    networks:
      - laravel

  elasticsearch:
    image: elasticsearch:8.11.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    networks:
      - laravel

  redis:
    image: redis:alpine
    restart: always
    command: redis-server --appendonly yes --bind 0.0.0.0
    volumes:
      - ./data/redis/data:/data
    networks:
      - laravel

  composer:
    build:
      context: ./.docker
      dockerfile: app.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - .:/var/www/html
    depends_on:
      - app
    entrypoint: [ 'composer', '--ignore-platform-reqs' ]
    networks:
      - laravel
